

header {
    background-color: black;
}

.logo {
    width: 150px;
    margin: 30px;
    border-radius: 50%;
    margin-left: 70px;
}

nav {
    overflow: hidden;
    background-color: white;
    float: right;
    margin-top: 90px;
    padding: 15px;
    margin-right: 250px;
    border-radius: 15px;
}

input {
    padding: 10px;
    border-radius: 5px;
    width: 500px;
}

.search-button {
    padding: 10px;
    border-radius: 5px;
}

nav a {
    margin-left: 13px;
    color: black;
}

.emision {
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    margin-top: 20px;
}

.emision article img {
    width: 250px;
    height: 350px;
    float: right;
    margin-right: 15px;
}

.emision article h3 {
    margin-left: 25px;
}

.popular {
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    margin-top: 20px;
}

.popular article img {
    width: 250px;
    height: 350px;
    float: right;
    margin-right: 15px;
}

.popular article h3 {
    margin-left: 25px;
}

footer{

}

.section_ayuda{
    float: left;
    margin: 20px;
    text-align: center;
}

.footer_bar1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


.footer_bar1 li a{
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
}

.section_acerca{
    float: left;
    margin: 20px;
    text-align: center;
}

.footer_bar2{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.footer_bar2 li a{
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
}

.section_siguenos{
    float: right;
}

.section_siguenos button{
    padding: 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.copyright{

}
.section_cuenta{
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
}