body {
    margin: 0px;
}

header {
    background-color: black;
}

.logo {
    width: 150px;
    margin: 30px;
    border-radius: 50%;
    margin-left: 70px;
}

nav {
    overflow: hidden;
    background-color: white;
    float: right;
    margin-top: 90px;
    padding: 15px;
    margin-right: 250px;
    border-radius: 15px;
}

input {
    padding: 10px;
    border-radius: 5px;
    width: 500px;
}

.search-button {
    padding: 10px;
    border-radius: 5px;
}

nav a{
    margin-left: 13px;
    color: black;
}

main h2{
    margin: 20px;
}


.emision {
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    margin: 20px;
}

.emision article img {
    width: 250px;
    height: 350px;
    float: right;
    margin: 10px;
}

.emision article h3 {
    text-align: center;
}

.popular {
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    margin: 20px;
}

.popular article img {
    width: 250px;
    height: 350px;
    float: right;
    margin: 10px;
}

.popular article h3 {
    text-align: center;
}

footer{
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
}

footer div h2 {
    color: white;
    margin: 30px;
}

footer div {
    margin: 70px;
}

footer div ul {
    list-style: none;
}

footer div ul a {
    text-decoration: none;
    color: white;
}

footer div li{
    margin-bottom: 10px;
}


.siguenos ul li a i{
    font-size: 30px;
    float: left;
    margin-right: 20px;
}