
body{
    background-color: #161618;
    color: #FFFF;
    margin: 10px;
    font-family: 'Noto Sans', sans-serif;
}

header{
    text-align: center;
    background-color: #404040;
    border-radius: 5px;
}

footer{
    background-color: #404040;
    border-radius: 5px;
}


