@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');

html, body{
    background-color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header{
    background-color: #2B601E;
    box-sizing: border-box;
}

header img{
    width: 150px;
}

.nav-top .row .col{
    padding-top: 4%;
}

.nav-top .navbar-brand{
    padding: 2% 1% 2%;
}

.nav-top .boton{
    color: #efefef;
    text-align: center;
    padding-top: 10%;
    font-size: 40px;
}

.nav-bottom{
    background-color: #46A908;
}

.nav-bottom .row{
    padding: 1% 0% 1%;
}

.nav-bottom .row :hover{
    background-color: #efefef;
    border-radius: 3%;
}
.nav-bottom .row .col{
    padding: 0.5%;
}

.nav-bottom .row .col a{
    color: #0a1a2a;
    text-decoration: none;
    font-size: 20px;
}

main{
    justify-content: space-between;
}

h2 {
    text-align: center;
    padding: 1%;
}

.search{
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 2%;
    margin: 0% 15% 0%;
}

.searchButton {
    width: 50px;
    height: 50px;
    border: grey;
    background: grey;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 0;
    cursor: pointer;
    font-size: 30px;
    box-sizing: border-box;
    border-style: solid;
}
  
.botones{
    display: flex;
}

main input{
    border-color: grey;
    padding: 5px;
    height: 50px;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    width: 70%;
}

.products-pork{
    background-color: #E5E8E8;
    padding: 1%;
}

.products-chicken{
    background-color: #E5E8E8;
    padding: 1%;
}

.products-horse{
    padding: 1%;
}

.products-cow{
    padding: 1%;
}

.products-pork .row .col{
    background-color: #0d2033;
    color: #fff;
    margin: 1%;
    padding: 1%;
    text-align: center;
}

.products-pork .row .col img{
    width: 200px;
    height: 200px;
}

.products-horse .row .col{
    background-color: #0d2033;
    color: #fff;
    margin: 1%;
    padding: 1%;
    text-align: center;
}

.products-horse .row .col img{
    width: 200px;
    height: 200px;
}

.products-chicken .row .col{
    background-color: #0d2033;
    color: #fff;
    margin: 1%;
    padding: 1%;
    text-align: center;
}

.products-chicken .row .col img{
    width: 200px;
    height: 200px;
}

.products-cow .row .col{
    background-color: #0d2033;
    color: #fff;
    margin: 1%;
    padding: 0.5%;
    text-align: center;
}

.products-cow .row .col img{
    width: 200px;
    height: 200px;
}

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 25px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;

}

.pie-pagina .grupo-1 .box .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .box .red-social a:hover{
    color: aqua;
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

#toggle-menu:checked ~ .nav-bottom {
    display: block;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

@media only screen and (max-width: 1023px){
    .menu-icon {
        display: block;
   }

   .div_iconos{
    margin-left:0;
   }

   .botones{
    display: none;
    position: absolute;
    top: 3.7rem;
    left: 0;
    width: 100%;
    background-color: var(--bgcolor);
    text-align: center;
    } 

    .nav-top input{
        box-sizing: border-box;
        width: 100%;
    }

    .nav-bottom ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.menu-icon {
    color: white;
    cursor: pointer;
    display: none;
}

.div_iconos{
    display: flex;
    margin-left: auto;
}

@media screen and (max-width: 900px) {
    .menu-icon {
        display: block;
   }

   .div_iconos{
    margin-left:0;
   }

   .botones{
    display: none;
    position: absolute;
    top: 3.7rem;
    left: 0;
    width: 100%;
    background-color: var(--bgcolor);
    text-align: center;
    } 

    .nav-top input{
        width: 179px;
    }

    .nav-top{
        box-sizing: border-box;
        width: 100%;
    }

    .div1{
        box-sizing: border-box;
        width: 100%;
    }

    .div2{
        box-sizing: border-box;
        width: 100%;
    }

    .nav-bottom{
        width: auto;
    }

    .nav-bottom ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1428px){
    .menu-icon {
        display: block;
   }

   .div_iconos{
    margin-left:0;
   }

   .botones{
    display: none;
    position: absolute;
    top: 3.7rem;
    left: 0;
    width: 100%;
    background-color: var(--bgcolor);
    text-align: center;
    } 

    .nav-top input{
        box-sizing: border-box;
        width: 100%;
    }

    .nav-bottom ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media only screen and (max-width: 791px){
    .searchButton{
        width: 50%;
    }

    .logo_nav{
        width: 25%;
    }
}